<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
    <string>Cocos2d-Console-GUI</string>
	<key>CFBundleGetInfoString</key>
	<string>Cocos2d Console GUI, Copyright 2015 Chukong Technologies</string>
	<key>CFBundleIconFile</key>
    <string>cocos2dproj-icon-mac</string>
	<key>CFBundleIdentifier</key>
	<string>org.cocos2d-x.console-gui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2015 Chukong Technologies</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Cocos2d Project</string>
			<key>CFBundleTypeIconFile</key>
            <string>cocos2dproj-icon-mac</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cocos2dproj</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
